{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "node": "12"
        }
      }]
    ],
    "plugins": [
      "lodash",
      ["module-resolver", {
        "root": ["/"]
      }]
    ],
    "env": {
      "production": {
        "comments": false,
        "minified": true,
        "sourceMaps": "inline"
      }
    }
  }
  